body {
  text-align: center;
  margin: auto;
}
header,
footer {
  background-color: grey;
}

.inputFormArea {
  background-color: lightgoldenrodyellow;
}

.displayArea {
  /* Starts hidden */
  display: none;
}
