* {
  margin: 0;
  padding: 0;
  text-align: center;
}

header,
footer {
  font-family: "Bebas Neue", cursive;
  padding: 20px;
}

h1 {
  text-shadow: 3px 3px 5px rgba(131, 131, 131, 0.288);
  font-size: 2.5em;
}

.jsTipCalculatorCard {
  margin: 10% 20%;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 50px 50px 100px #d9d9d9, -50px -50px 100px #ffffff;
}

.mainDisplayArea {
  padding: 0 20px;
  font-family: "Varela Round", sans-serif;
}
.inputFormDisplayArea {
  padding: 0 20px;
}

.subTotalDisplay,
.tipAmountDisplay {
  padding: 10px 10px;
  display: grid;
  grid-auto-flow: column;
}
.buttonDisplay {
  padding: 10px 10px;
}

.totalAmountDisplayArea {
  display: none;
  padding: 10px;
}

input {
  border: none;
  text-align: right;
}

button {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-size: 1.2em;
}

button:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}
